        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        body{
            margin:0;
            font-family: 'Open Sans', sans-serif;}
        img{
            width: 50px;
        }
        nav{
            background-color: #FFC107;
            text-align: center;
            height:10vh;
            padding-top: 0.5em;
            font-size: 3em;

        }
        #wc{
            text-align: center;
            font-size: x-large;
        }
        #wp{
            text-align: center;
            font-size: large;
        }
        textarea{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 30vh;
            max-width: 80%;
            width: 40em;
            font-family: 'Open Sans', sans-serif;
            margin-top: 3em;
            padding-top: 0.8em;
            padding-left: 1em;
        }
        textarea:hover, #output:hover{
            border: solid 2px #FFC107;

        }
        button{
            
                background-color: #FFC107;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-left: auto;
                margin-right: auto;
            
        }

        h2{
            text-align: center;
            font-size: 1.2em;
            margin-top: 1em;
        }
        #output{
            border: 1px solid black;
            display: block;
           
            max-width: 80%;
            width: 35em;
            height: 8vh;

        }